* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0e0e0e;
    color: #ffffff;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #111;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.nav-links a {
    margin-left: 24px;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* HERO */
.hero {
    padding: 80px 40px;
    max-width: 900px;
}

.hero h1 {
    font-size: 42px;
    margin-bottom: 12px;
}

.hero p {
    font-size: 18px;
    color: #cccccc;
}

/* PROJECTS */
.projects {
    padding: 40px;
}

.project-card {
    background-color: #1a1a1a;
    padding: 24px;
    margin-top: 20px;
    border-radius: 10px;
    max-width: 500px;
}

.project-card a {
    color: #4ea1ff;
    text-decoration: none;
}

/* PROJECT PAGE */

.banner {
    padding: 40px;
}

.banner-placeholder {
    width: 100%;
    max-width: 900px;
    height: 400px;
    background-color: #2a2a2a;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888;
    margin: auto;
    border-radius: 12px;
}

.project-content {
    padding: 40px;
    max-width: 900px;
    margin: auto;
}

.project-description {
    color: #cccccc;
    font-size: 17px;
}

.project-buttons {
    margin-top: 30px;
}

.btn {
    padding: 12px 20px;
    border-radius: 6px;
    text-decoration: none;
    margin-right: 15px;
    display: inline-block;
}

.primary {
    background-color: #4ea1ff;
    color: black;
}

.secondary {
    background-color: #333;
    color: white;
}
